---
title: dobleclip
---

.lead
  %b dobleclip
  es un programa que te ayudará a organizar tu negocio, dejándote
  el tiempo libre para que te dediques a lo que realmente genera dinero.

%p
  %b dobleclip
  está en etapa de desarrollo. Ya lo estamos usando internamente, sin
  embargo todavía no está listo para salir al público.

%p
  Por lo pronto puedes consultar el
  %a(href="blog") blog
  en donde te mantendremos informado de lo que estamos haciendo.
%p
  También puedes enviarnos un
  %a(href="contacto") mensaje
  para que recibas una invitación en cuanto iniciemos las pruebas públicas
